@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    background-color: rgb(138, 151, 189);
}
.card-container {
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}
.card-item {
    position: relative;
    flex-basis: 300px;
    min-height: 200px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
}
.card-item .front {
    opacity: 1;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
}
.card-item .back {
    position: absolute;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
}
.card-item:after {
    content: '';
    position: absolute;
	width: 100%;
	height: 100%;
    top:0; 
	left:0;
    background:rgba(0,0,0);
    opacity: 0.5;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
}
.card-item:hover:after {
		opacity: 0.7;
}